@model FirstMvcApp.ViewModel.CreateEditStudentViewModel

<div class="form-group">
    <div>
        @Html.LabelFor(s => s.Student.FirstName, new { @class = "col-md-2 control-label" })
    </div>
    <div class ="col-md-20">
        @Html.TextBoxFor(s => s.Student.FirstName, new { @class = "form-control" })
    </div>
</div>


<div class="form-group">
    <div>
        @Html.LabelFor(s => s.Student.LastName, new { @class = "col-md-2 control-label" })
    </div>
    <div class="col-md-20">
        @Html.TextBoxFor(s => s.Student.LastName, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <div>
        @Html.LabelFor(s => s.Student.Email, new { @class = "col-md-2 control-label" })
    </div>
    <div class="col-md-20">
        @Html.TextBoxFor(s => s.Student.Email, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <div>
        @Html.LabelFor(s => s.Student.Phone, new { @class = "col-md-2 control-label" })
    </div>
    <div class="col-md-20">
        @Html.TextBoxFor(s => s.Student.Phone, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @foreach (var item in Model.CompetencyHeaders)
    {
        <div>
            <label>@item.Name</label>
        </div>
        foreach (var competencyItem in item.Competencies)
        {
            <div>
                <input type="checkbox" value="@competencyItem.CompetencyId" name="compIds"/>
                @competencyItem.Name
            </div>
        }

    }
    
</div>

<div class="form-group">   
    <input type="file" name="image" />
</div>

<div class="form-group">
    <div>
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</div>



