@model FirstMvcApp.Models.Student

<div class="form-group">
    <div>
        @Html.LabelFor(s => s.FirstName, new { @class = "col-md-2 control-label" })
    </div>
    <div class ="col-md-20">
        @Html.TextBoxFor(s => s.FirstName, new { @class = "form-control" })
    </div>
</div>


<div class="form-group">
    <div>
        @Html.LabelFor(s => s.LastName, new { @class = "col-md-2 control-label" })
    </div>
    <div class="col-md-20">
        @Html.TextBoxFor(s => s.LastName, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <div>
        @Html.LabelFor(s => s.Email, new { @class = "col-md-2 control-label" })
    </div>
    <div class="col-md-20">
        @Html.TextBoxFor(s => s.Email, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <div>
        @Html.LabelFor(s => s.Phone, new { @class = "col-md-2 control-label" })
    </div>
    <div class="col-md-20">
        @Html.TextBoxFor(s => s.Phone, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">   
    <input type="file" name="image" />
</div>

<div class="form-group">
    <div>
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</div>



