@model FirstMvcApp.ViewModel.StudentIndexViewModel

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>

<h2>Index</h2>
<div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
    <div>
        <img src="~/ProfileImages/adopting-a-cat.jpg" class="profileImage thumbnail img-responsive" />
    </div>
    <h4>The domestic cat is a small, usually furry, domesticated, and carnivorous mammal. 
    They are often called housecats when kept as indoor pets or simply cats when there is 
    no need to distinguish them from other felids and felines. (Wikipedia)</h4>
</div>

<div class="col-lg-8 col-md-8">
    <div class="container-fluid row">
        @foreach (var item in Model.Students)
        {
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="@Url.Action("Edit", "Students", new { studentId = item.StudentId})">
                    <img src="../../@item.ProfileImagePath" alt="Alternate Text" class="thumbnail" />
                </a>
            </div>
        }
    </div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div class="panel panel-default">

                <div class="panel-heading">
                    Filter displayed students
                </div>

                <div>
                    <input type="button" class="btn btn-default" id="btnCompetencies" value="Filter on competencies..." />
                    <div class="MarginLeft40">
                        <input type="button" class="btn btn-primary pull-right Invisible" value="Edit Competencies" id="btnEditCompetencies" />

                        @foreach (var compHeader in Model.CompetencyHeaders)
                        {
                            <div class="Invisible FilterCompetencies">
                                <label class="lblHeader"><input type="checkbox" name="competencyHeader" class="CompetencyHeader MarginRight5" />@compHeader.Name</label>
                                <span class="glyphicon glyphicon-plus Invisible"></span>

                                <div class="outerContainer">
                                    @foreach (var competency in @compHeader.Competencies)
                                    {
                                        <div class="MarginLeft40 CompetencyDiv">

                                            <label class="CompetencyLabel"><input class="MarginRight5 Competency" type="checkbox" name="Competencies" value="@competency.Name" />@competency.Name</label>
                                            <span class="glyphicon glyphicon-pencil Invisible"></span>
                                            <span class="glyphicon glyphicon-remove Invisible"></span>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div>
                <table class="table table-striped">
                    <tr>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.Students)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { studentId = item.StudentId }) |
                                @Html.ActionLink("Details", "Details", new { studentId = item.StudentId }) |
                                @Html.ActionLink("Delete", "Delete", new { studentId = item.StudentId })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <script type="text/javascript">
            // this is jQuery code, a.k.a JavaScript with JQuery library
            $(function () { //when document is loaded
                $("#btnCompetencies").click(function () {
                    //when user click on the button with id btnCompetencies
                });
            });
        </script>
